.aside {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(39, 188, 2);
  height: 400px;
  width: 150 px;
}